.status{
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 5px;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;

	&.active{
		background-color: #28e55d;
	}
}

.edditional-id-info{
	display: flex;
	justify-content: space-between;
	align-items: center;

	span:last-child{
		display: flex;
		align-items: center;
		margin-left: 5px;
		font-size: 12px;
	}
}

.bottom{
	.info-row{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #d6d6d6;
		padding-bottom: 15px;

		&:nth-child(2){
			margin-top: 18px;

			.edit{
				align-items: center;
			}
		}

		.credit-card{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 13px;
			color: #353a48;

			.card-image{
				padding: 10px 13px;
				background-color: #353a48;
				border-radius: 5px;
			}

			img{
				width: 40px;
			}
			
			.credit-card-info{
				padding-left: 20px;
			}

			.card-date{
				margin-top: 15px;
			}
		}
		
		.email{
			font-size: 13px;

			.title{
				color: #9c9c9c;
			}

			.value{
				margin-left: 10px;
			}
		}

		.edit{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			cursor: pointer;

			svg{
				width: 12px;

				path{
					fill: #d6d6d6;
				}
			}

			span{
				margin-left: 5px;
				font-size: 12px;
				color: #d6d6d6;
			}
		}
	}

	.btns{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;

		button{
			display: flex;
			align-items: center;
			padding: 7px 11px;
			border: none;
			outline: none;
			box-shadow: none;
			border-radius: 3px;
			cursor: pointer;

			span{
				margin-left: 7px;
				font-size: 14px;
				color: #fff;
				font-weight: 700;
			}
			
			svg path{
				fill: #fff;
			}

			&.purple{
				background-color:#444053 ;
			}

			&.blue{
				background-color: #7289da;
			}

			&.red{
				background-color: #ff0042;
			}
		}
	}

	.progress{
		width: 100%;

		.labels{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			font-size: 14px;
			color: #353a48;
		}

		.progress-bar{
			width: 100%;
			height: 10px;
			background-color: #e7e9ec;
			border-radius: 3px;

			.current-progress{
				height: 100%;
				background-color: #2a61ff;
				border-radius: 3px;
			}
		}
	}

	.key-input-wraper{
		width: 100%;
		display: flex;
		justify-content: space-between;

		input{
			width: calc(100% - 30px);
			padding: 7px 10px;
			border: 1px solid #8b8e91;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			outline: none;
			color: #8b8e91;
		}

		.copy{
			width: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #353a40;
			cursor: pointer;

			svg path{
				fill: #fff;
			}
		}
	}
}