$font_dark_gray: #343a40;
$font_light_gray: #575e64;
$font_white_gray: #ccd0d5;
$font_gray_gray: #9fa4a9;

$bg_blue_dark: #f1f4f6;
$bg_blue_light: #f7f9fa;
$bg_white_dark: #fafbfc;
$bg_white_light: #fff;
$bg_gray_light: #f7f7f7;
$bg_gray_drak: #f8f9fa;
$circle_gray: #e5e5e5;

$border_grey_dark: #cfd4da;
$border_gray_light: #dfe2e6;
$borde_gray_main: #e9ecef;

$primary_blue: #2a61ff;
$primary_dark_blue: #2767f4;
$primary_light_blue: #6d9aff;

$primary_red: #ff0042;
$primary_green: #28e55d;
$primary_yellow: #ffa900;
$primary_brown: #444053;